@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background-color: #1a1a1a;
    font-family: 'Playfair Display';
}

.nav {
    display: flex;
    justify-content: center;
}
.nav h1 {
    display: inline;
    margin: 0 20px;
    font-size: 3rem;
    color: #FE8F6B;
}

.underline {
    position: relative;
    transition: all 0.15s ease-out;
}
.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    left: 0;
    background-color: #fe906b76;
    visibility: hidden;
    transform: scaleX(0);
    /* transition: all 0.5s cubic-bezier(1, 0.25, 0, 0.75) 0s; */
    transition: 0.3s;
}
.underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
a {
    color: inherit;
    text-decoration: none;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

input[type=text], input[type=email], input[type=password], input[type=number] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #F7747B;
    font-size: 2rem;
    font-family: 'Poppins';
    color: #FE8F6B;
}
input[type=text]:placeholder-shown, input[type=email]:placeholder-shown, input[type=password]:placeholder-shown {
    border-bottom-color: #F7747B;
}
input[type=text]:not(:placeholder-shown), input[type=email]:not(:placeholder-shown), input[type=password]:not(:placeholder-shown) {
    border-bottom-color: #FE8F6B
}
input[type=text]::placeholder, input[type=email]::placeholder, input[type=password]::placeholder {
    color: #F7747B;
}
input[type=number] {
    width: 75px;
    color: #F7747B;
}