<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
    .container {
        border: 1px solid #F7747B;
        color: #FE8F6B;
        padding: 80px 30px;
    }
    h1 {
        font-size: 3rem;
        text-align: center;
        color: #F7747B;
        transition: 0.3s;
    }
    h1:hover {
        color: #FE8F6B;
    }
    input[type=submit] {
        all: unset;
        cursor: pointer;
    }
    form {
        margin: 0;
        padding: 0;
    }
</style>
<div class="nav">
    <h1 class="underline"><a href="/">Home</a></h1>
    <h1 class="underline"><a href="/create">Create</a></h1>
    {% if loggedIn %}
        <h1 class="underline"><a href="/profile">Profile</a></h1>
    {% else %}
        <h1 class="underline"><a href="/login">Login</a></h1>
    {% endif %}
</div>
<form action="#" method="POST">
    <div class="center">
        <div class="container">
            <input type="text" placeholder="Name" name="name"><br><br>
            <input type="number" value="3" id="number" onchange="add()"><br>
            <div id="container">
            </div>
            <h1 style="text-decoration: underline;"><input type="submit" value="Create"></h1>
        </div>
    </div>
</form>
<script>
    let original;
    function add() {
        let number = document.getElementById("number").value;
        if (number <= 1) {
            document.getElementById("number").value = original;
            return;
        }
        original = number;
        let count = document.getElementsByClassName("text-input").length;
        if (count < number) {
            while (count < number) {
                let text = document.createElement("input");
                text.setAttribute("type", "text");
                text.setAttribute("class", "text-input");
                text.setAttribute("name", count);
                document.getElementById("container").appendChild(text);
                let brk = document.createElement("br");
                brk.setAttribute("class", "break");
                document.getElementById("container").appendChild(brk);
                count++;
            }
        } else {
            while (number < count) {
                document.getElementsByClassName("text-input")[count - 1].remove();
                document.getElementsByClassName("break")[count - 1].remove();
                count--;
            }
        }
    }
    add();
</script>